<img src="/assets/img/photo.9cb50d5b.jpg" alt="Profil de Jean Neymar" width="50%">
<h1 class="my-5">Jean Neymar, auteur visionnaire</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a laborum non vero temporibus odio, tempore dolorum, recusandae similique quis laudantium!</p>
<br>
<p>Ipsam consequatur fuga laudantium non porro ad nam. Nulla recusandae beatae quo dolorum ipsum quibusdam corporis nostrum?</p>
<br>
<p>Nobis doloremque facere vero facilis. Quo quibusdam enim dolorem! Officiis facilis quasi deserunt veritatis neque quibusdam incidunt magni esse.</p>